/* General Styles(page eka purama) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* --- Header ekata adala css kotasa --- */
header {
    background: #005f73;
    color: white;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav  a:hover {
            color: #ffcc00;
}


/* --- Tours Content ekata adala css kotasa --- */
.places {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: white;
    width: 300px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card h3 {
    margin: 10px 0;
    color: #005f73;
}

.card p {
    padding: 0 10px;
    font-size: 0.95rem;
    color: #555;
}

.card button {
    background-color: #005f73;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.card button:hover {
    background-color: #004999;
}

/* Footer ekata adala css kotasa*/
footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 20px;
}

/* Mobile Responsiveness ekata adala css kotasa */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    nav {
        margin-top: 10px;
    }
    nav a {
        margin: 0 10px;
    }
}